{% extends "games/base.html" %}

{% block content %}
<h1>Games</h1>
<p> We Own</p>
<ul>
{% for game in owned %}
    <li>{{ game.title }} - {{ game.created|date:"D d M Y" }} </li>
{% empty %}
    <li>We don't own any games??</li>
{% endfor %}
</ul>
<p>Voted for</p>
<ul>
{% for game in voted %}
    <li>{{ game.game.title }} - {{ game.game.created|date:"D d M Y"  }} - {{ game.count }}  Votes
        - <a href="/games/vote/game_id/{{ game.game.id }}/">Vote for {{game.game.title}}</a></li>
{% endfor %}
</ul>
<p>Added</p>
<ul>
{% for game in no_votes %}
    <li>{{ game.title }} - {{ game.created|date:"D d M Y" }} <a href="/games/vote/game_id/{{ game.id }}/">Vote for {{game.title}}</a></li>
{% empty %}
    <li></li>
{% endfor %}
</ul>
{% endblock %}
